absl-py==2.1.0
aiohttp==3.8.6
aiosignal==1.3.1
alembic==1.12.1
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
async-timeout==4.0.3
asynctest==0.13.0
attrs==24.2.0
biopython==1.79
biotite==0.40.0
blosum==2.0.2
cachetools==5.5.0
certifi==2022.12.7
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1666183775483/work
charset-normalizer==2.0.12
click==8.1.7
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog==6.9.0
contextlib2==21.6.0
cycler==0.11.0
deepspeed==0.5.9
DLLogger @ file:///public/home/lss/software/esmfold/dllogger-master
dm-tree==0.1.6
docker-pycreds==0.4.0
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1681884646122/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
fair-esm @ file:///public/home/lss/software/esmfold/esm-main
fairscale @ file:///home/conda/feedstock_root/build_artifacts/fairscale_1655732935145/work
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
future==1.0.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.37.0
google-auth-oauthlib==0.4.6
greenlet==3.1.1
grpcio==1.62.3
hjson==3.1.0
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1677543700389/work
idna==3.4
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1653252814274/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1688813467203/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
joblib==1.3.2
kiwisolver==1.4.5
llvmlite==0.39.1
Mako==1.2.4
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib==3.5.3
ml-collections==0.1.0
msgpack==1.0.5
multidict==6.0.5
networkx==2.6.3
ninja==1.11.1.3
numba==0.56.4
numpy==1.21.2
oauthlib==3.2.2
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
openfold @ file:///public/home/lss/software/esmfold/openfold-4b41059694619831a7db195b7e0988fc4ff3a307
OpenMM==7.5.1
optuna==4.0.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==1.0.5
pathtools==0.1.2
pdbfixer @ file:///home/conda/feedstock_root/build_artifacts/pdbfixer_1607691650467/work
Pillow==9.3.0
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1648772594554/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1712242996588/work
promise==2.3
protobuf==3.20.3
psutil==6.1.0
py-cpuinfo==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyDeprecate==0.3.1
pymol==2.4.0
pyparsing==3.1.4
PyQt5==5.15.7
PyQt5-sip==12.11.0
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1704035161844/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytorch-lightning==1.5.10
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1726055524169/work
PyYAML==5.4.1
requests==2.26.0
requests-oauthlib==2.0.0
rsa==4.9
scikit-learn==1.0.2
scipy==1.7.1
sentry-sdk==2.19.2
setproctitle==1.3.3
shortuuid==1.0.13
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1665592359543/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
SQLAlchemy==2.0.41
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1727974628237/work
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchmetrics==0.11.4
torchvision==0.13.1+cu116
tqdm==4.62.2
triton==1.0.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
urllib3==1.26.13
wandb==0.12.21
Werkzeug==2.2.3
yarl==1.9.4
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1677313463193/work
